<div class="module-header">
	<div class="module-title"><h1>My Friends (<%= @friends.size %>)</h1></div>
</div>

<div class="wrapper">
	<% if @friends.size > 0 %>
		<% @friends.each do |user| %>
			<%= render 'userbox', { user: user, mode: 'f'} %>
		<% end %>
	<% end %>
	<%= link_to '', new_user_friend_path(@user), { 
		:class=>"add-button", 
		:title=>"Add New Friends" } %>
</div>
<%= render 'friends/lookup' %> 


<% if @friendships.size > 0 %>
	<table class ="table table-striped">
		<thead>
			<tr>
				<th colspan = "2" class="page-header">
					<h2>My Friends</h2>
				</th>
			</tr>

			<tr>
				<th>Username</th>
				<th>Characters</th>
			</tr>
		</thead>

		<tbody>
		  	<% @friendships.each do |friend| %>
		    <tr>
		    	<td><%= friend.username %></td>
			    <td><%= friend.characters %></td>
			      
			    <td>
			    	<%= link_to 'View Profile', user_path(friend), class:"btn btn-primary btn-xs" %>
			    	
			     
			      	<%= link_to 'Remove Friend', friendship_path(friend),
			              :method=> :delete,
			              :data=> { :confirm=> 'Are you sure?' },
			              :class => "btn btn-xs btn-danger" %>
			    </td>
		    </tr>
		  	<% end %>
		 </tbody>
	 </table>

<% else %>
	<div class = 'row col-lg-12'>
		<p class = "lead">You don't have any friends yet. Please add some!</p>
	</div>
<% end %>
