
<!DOCTYPE html>
<html>
<head>
  <title>Kagetsu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<!-- sidebar -->
		<div class="sidebar-wrapper">
		<%= render 'layouts/sidebar' %>
		</div>
		<div id="toggle-button" title="toggle menu">
			<span class="glyphicon glyphicon-option-vertical">&nbsp;</span>
		</div>

		<!-- main area -->
		<div class="main-content-wrapper">
		<%= yield %>
		</div>
		
		<%= render 'layouts/flash' %>
		<%= render 'layouts/modal' %>
	</div>
</body>
</html>
